@font-face {
    font-family: 'Kollektif'; /*a name to be used later*/
    src: url('fonts/Kollektif/Kollektif.ttf'); /*URL to font*/
    src: url('');
}
@font-face {
    font-family: 'KollektifBold'; /*a name to be used later*/
    src: url('fonts/Kollektif/Kollektif-Bold.ttf'); /*URL to font*/
    src: url('');
}
@font-face {
    font-family: 'KollektifItalic'; /*a name to be used later*/
    src: url('fonts/Kollektif/Kollektif-Italic.ttf'); /*URL to font*/
    src: url('');
}
@font-face {
    font-family: 'KollektifBoldItalic'; /*a name to be used later*/
    src: url('fonts/Kollektif/Kollektif-BoldItalic.ttf'); /*URL to font*/
    src: url('');
}

* {
    font-family: Kollektif, sans-serif;
}

html {
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

body {
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal overflow */
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #1c1c1c;
    color: white;
}

main {
    position: relative;
    z-index: 1; /* Ensure main content does not cover the navbar */
    padding: 0 2rem 0 2rem;
}

header {
    background: linear-gradient(45deg, #844ef2, #ee874d);
    color: white;
    text-align: center;
    overflow: visible;
}

.title {
    color: #fff;
    margin: 0;
    font-size: 3rem;
    padding: 2rem;
    font-family: KollektifBold, sans-serif;
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    background: linear-gradient(45deg, hsl(260, 86%, 50%), hsl(22, 83%, 49%));
    top: 0;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
.navbar ul li {
    margin-left: 20px;
}
  
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.cards {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
    justify-content: space-around;
    padding: 20px;
    gap: 20px; /* Add space between the cards */
}

.card {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    flex: 1 1 300px; /* Allow cards to grow and shrink, with a minimum width of 300px */
    max-width: 40%; /* Set a maximum width for larger screens */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Gallery section */
.gallery {
    text-align: center;
    padding: 20px;
}
  
.image-gallery {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
  
.image-box {
    background-color: #555;
    color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    font-size: 1.5rem;
    border-radius: 10px;
}